:root{

}

html{
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
    background-color: grey;

}

header{
    text-align: center;
}

#scoreboard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container{
   height: 100%;
}

#gameArea{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: inherit;
}


.player-container{
    border: 3px solid black;
    padding: 10px;
    width: 100%;
    height: inherit;
    display: flex;
}

 
.img-options-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: flex-end;
    width: 100%;

}

.img-options-div img{
    height: 100px;
    width: 100px;

}

.choice-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}

#p1-img-choice, #p2-img-choice{
    display: none;

}